/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1264px;
  margin: 0 auto;
  height: var(--nav-height);
  font-family: var(--body-font-family);
}

@media (min-width: 620px) {
  header nav {
    padding: 0 2rem;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
    text-transform: uppercase;
    font-size: 14px;
}

header nav ul li a {
    text-decoration: underline;
}

/* brand */
header .nav-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--heading-font-size-s);
  line-height: 1;
}

header nav .nav-brand img {
  width: 106px;
  height: auto;
}

header nav .nav-brand >ul {
    display: flex;
    gap: 20px;
    padding: 0;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  grid-row: 2;
  grid-column: span 2;
  background-color: var(--overlay-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-xs);
  display: flex;
  gap: 0;
  margin: 0;
  font-weight: 400;
}

header nav .nav-sections ul > li {
  text-decoration: underline;
  text-transform: uppercase;
  padding: 0 20px;
} 

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (min-width: 620px) {
  header nav .nav-sections {
    visibility: visible;
    white-space: nowrap;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--highlight-background-color);
  }

  header nav .nav-sections > ul > li > ul > li {
    padding: 8px 0;
  }
}
