:root {
/* fonts */
--heading-font-family: "asprey-alphabet", "arial", sans-serif;
--body-font-family: "Gill Sans", "Gill Sans MT", gill-sans-nova, calibri, sans-serif;
--fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono", monospace;

/* colors */
--color-gray: #817C89;
--color-deep-violet: #405;
--background-color: #FFF;
--highlight-text-color: #000;
--overlay-background-color: #eee;
--highlight-background-color: #f7f9f9;
--footer-background-color: #2B0E43;
--footer-text-color: #F7F9F9;
--asprey-purple-background-color: #405;
--asprey-text-color: #F7F9F9;
--button-background-color: #2b0e43;
--button-text-color: #FFF;

/* sizes */
--heading-font-size-xxl: 60px;
--heading-font-size-xl: 30px;
--heading-font-size-l: 24px;
--heading-font-size-m: 18px;
--heading-font-size-s: 16px;
--heading-font-size-xs: 16px;

  /* body sizes */
--body-font-size-m: 18px;
--body-font-size-s: 16px;
--body-font-size-xs: 14px;
--body-font-size-xxs: 12px;


  /* nav height */
  --nav-height: 210px;

  /* Common margin/padding value */
  --layout-margin-large: 75px;
  --layout-margin-small: 32px;

}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

* {
  font-family: var(--body-font-family);    
  box-sizing: border-box;
  text-shadow: none;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.5;
  color: var(--color-gray);
  background-color: var(--background-color);
  display: none;
  -webkit-font-smoothing: antialiased;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

a {
    color: var(--color-deep-violet);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a, p.h1, p.h2, p.h3, p.h4, p.h5, p.h6 {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--color-deep-violet);
    font-family: var(--heading-font-family);
    font-weight: 400;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
}

h1, h1 a {
  font-size: var(--heading-font-size-l);
}

h2, h2 a {
    font-size: 22px;
}

h3, h3 a {
    font-size: 20px;
}

h4, h4 a {
    font-size: var(--heading-font-size-m) 
}

h5, h5 a, h6, h6 a {
    font-size: var(--heading-font-size-s) 
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 400;
  line-height: 1.2;
}

li, p, strong {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--color-gray);
    font-family: "Gill Sans", "Gill Sans MT", gill-sans-nova, Calibri, sans-serif;
    font-size: var(--body-font-size-m);
    font-weight: 400;
    line-height: 1.2;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--color-deep-violet);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--color-deep-violet);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--color-deep-violet);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
  text-decoration: underline;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--color-deep-violet);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.primary, button.primary {
  background-color: var(--button-background-color);
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--button-text-color);
  padding: 9pt 24px;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--body-font-size-xxs);
  font-weight: 500;
  line-height: 1;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--color-gray)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--color-gray);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

/* main .section {
  padding: 64px 16px;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
} */

@media (min-width: 600px) {
  .section > div {
    /* max-width: 1200px; */
    margin: auto;
  }
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
  color: var(--highlight-text-color);
}

main .section.highlight h1 { 
  font-size: var(--heading-font-size-xxl); 
  word-spacing: 9999rem;
  line-height: 1.2;
}

.inquire .columns >div >div >p {
    text-align: left;
    margin-left: var(--layout-margin-small);
}

@media screen and (min-width: 601px) {
    .inquire .columns >div >div >p {
        margin-left: var(--layout-margin-large);
    }
}

.aboutus-highlight .columns >div >div >p {
    color: var(--highlight-text-color);
    margin-left: var(--layout-margin-small);
    margin-right: var(--layout-margin-small);
}

.column-light .columns >div >div >h3,
.column-light .columns >div >div >h5,
.column-light .columns >div >div >p {
    margin-left: var(--layout-margin-small);
    margin-right: var(--layout-margin-small);
}

@media screen and (min-width: 601px) {
    .column-light .columns >div >div >h3,
    .column-light .columns >div >div >h5,
    .column-light .columns >div >div >p {
        margin-left: var(--layout-margin-large);
        margin-right: var(--layout-margin-large);
    }
}

.deep-background .columns >div >div:not(.columns-img-col) >p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--highlight-background-color);
    text-align: center;
    margin: 18px var(--layout-margin-small);
}

.deep-background-special .columns >div >div:not(.columns-img-col) >p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--highlight-background-color);
    text-align: center;
    margin: 18px var(--layout-margin-small);
}

.section.highlight .columns >div >div >p:nth-child(2) {
    color: #000;
}

main .section.highlight a.button.primary, button.primary {
  background-color: transparent;
  color: var(--color-deep-violet);
  border-color: var(--color-deep-violet);
}

main .section.deep-background {
  background-color: var(--asprey-purple-background-color);
  color: var(--asprey-text-color);
}

main .section.deep-background h1 {
  color: var(--asprey-text-color);
}

main .section.deep-background a.button.primary, button.primary {
  background-color: transparent;
  color: var(--highlight-background-color);
  border-color: var(--highlight-background-color);
}

main .section.deep-background-special {
  background-color: var(--asprey-purple-background-color);
  color: var(--asprey-text-color);
}

main .section.deep-background-special h1 {
  color: var(--asprey-text-color);
}

main .section.deep-background-special a.button.primary, button.primary {
  background-color: transparent;
  color: var(--highlight-background-color);
  border-color: var(--highlight-background-color);
}

main .section.narrow {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 10px 5px;
}

main .section.narrow h1 { 
  font-size: var(--heading-font-size-l); 
}

.aboutus-highlight .columns >div {
    background-color: var(--highlight-background-color);
}

.description .columns >div >div:first-child {
    padding-left: var(--layout-margin-small);
    padding-right: var(--layout-margin-small);
}

@media screen and (min-width: 601px) {
    .description .columns >div >div:first-child {
        padding-left: var(--layout-margin-large);
        padding-right: var(--layout-margin-large);
    }
}

.description h2 {
    font-size: 30px;
    font-weight: 400;
    max-width: none;
}

.deep-background .columns >div >div:not(.columns-img-col) {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--highlight-background-color);
    text-align: left;
}

@media screen and (min-width: 601px) {
    .deep-background .columns >div >div:not(.columns-img-col) >p {
        margin: 18px var(--layout-margin-large);
    }
}

.deep-background .columns >div >div:not(.columns-img-col) >h4 {
    font-size: 30px;
    font-weight: 400;
    max-width: none;
    margin: 40px var(--layout-margin-small);
    line-height: 1.2;
    color: var(--highlight-background-color);
    text-align: center;
}

.deep-background-special .columns >div >div:not(.columns-img-col) {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--highlight-background-color);
    text-align: left;
}

@media screen and (min-width: 601px) {
    .deep-background-special .columns >div >div:not(.columns-img-col) >p {
        margin: 18px var(--layout-margin-large);
    }
}

.deep-background-special .columns >div >div:not(.columns-img-col) >h4 {
    font-size: 30px;
    font-weight: 400;
    max-width: none;
    margin: 40px var(--layout-margin-small);
    line-height: 1.2;
    color: var(--highlight-background-color);
    text-align: center;
}


@media screen and (min-width: 601px) {
    .deep-background-special .columns >div >div:not(.columns-img-col) >h4 {
        margin: 40px var(--layout-margin-large);
    }
}

.deep-background-special .columns > div > div:last-child {
    margin-left: var(--layout-margin-small);
    margin-right: var(--layout-margin-small);
}

@media screen and (min-width: 601px) {
    .deep-background-special .columns > div > div:last-child {
        flex: 1 0 calc(50% - (var(--layout-margin-large) * 2));
        width: calc(50% - (var(--layout-margin-large) * 2));
        margin-left: var(--layout-margin-large);
        margin-right: var(--layout-margin-large);
    }
}

.inquire .columns >div >div >h3 {
    font-size: 30px;
    font-weight: 400!important;
    max-width: none;
    text-align: left;
    margin-left: var(--layout-margin-small);
    margin-right: var(--layout-margin-small);
}

@media screen and (min-width: 601px) {
    .inquire .columns >div >div >h3 {
        margin-left: var(--layout-margin-large);
        margin-right: var(--layout-margin-large);
    }
}

.inquire .columns >div >div >p >a {
    margin-top: 0;
}

.aboutus-highlight .columns >div >div >h2 {
    font-size: 30px;
    font-weight: 400;
    max-width: none;
    margin-left: var(--layout-margin-large);
    margin-right: var(--layout-margin-large);
}

@media screen and (min-width: 601px) {
    .aboutus-highlight .columns >div >div >p {
        margin-left: var(--layout-margin-large);
        margin-right: var(--layout-margin-large);
    }
}

.aboutus-highlight .columns >div >div >p a {
    background-color: transparent;
    border-color: var(--button-background-color);
    color: var(--button-background-color);
}

.column-light .columns >div >div >h3,
.column-light .columns >div >div >h5 {
    font-size: 30px;
    font-weight: 400;
    max-width: none;
}
